.app{
    &__global-header{
        padding: 1rem 0;
        background: #FFF;
        &__title{
            display: flex;
            justify-content: center;
        }
        &__site-name{
            max-width: 1320px;
            padding: 0 20px;
            margin: 0 auto;
        }
    }


    
}