{ 
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "prettier"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier"
    ],
    "rules": {
      "no-console": 0,       // Means off
      "prettier/prettier": 0, // Means error
      "react/prop-types": 0
      
    
    },
    "env": {
      "browser": true, //"browser": true your env to include global variables (like document, window, etc.)
      "node": true
    }
  }